body {
  background: blanchedalmond;
}
* {
  border: 5px solid grey;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div .a {
width: 100%;
height: 150px;
}
section {
  border: 5px solid red;
  
  display: flex;
  width: 100%
}
.b {
  border: 5px dashed white;
  display: flex;
  width: 60%;
  align-items: right;
  height: 300px;
}
.c {
  border: 5px dashed white;
  display: flex; 
  width: 30%;
  height: 300px;
}
*@media (min-width: 600px) 
{
    .container {
      display: flex;
      flex-direction: column;
    }
    body {
        max-width: 60%;
      }        
    div {
      justify-content: center;
    }
  }